.my-btn-2 {
    background-color: #fff;
    border: 2px solid #FEB800;
    font-weight: 500;
}
.my-btn-2:hover{
    background-color: #FEB800;
    color: white;
    font-weight: 500;
    border: 2px solid transparent;
}
.login-section{
    width: 100%;
    height: 70vh;
    padding: 20px 0;
    background-color: #252531;
}
.login-card{
    width: 50%;
}
